In [1]:
from cartoframes.auth import Credentials, set_default_credentials
credentials = Credentials.from_file()

In [2]:
from cartoframes.data.clients.bigquery_client import BigQueryClient

dataset = credentials.username.replace('-', '_')
client = BigQueryClient('carto-do-customers', credentials)

/home/simon/dev/cartoframes/env/src/carto/carto/resources.py:90: FutureWarning: This is part of a non-public CARTO API and may change in the future. Take this into account if you are using this in a production environment
  warnings.warn('This is part of a non-public CARTO API and may change in the future. Take this into account if you are using this in a production environment', FutureWarning)

In [3]:
project = 'carto-do-customers'
dataset = 'simon_carto'
table = 'view_mastercard_financial_mrli_usa_block_2019_monthly_2019'

In [4]:
import datetime
 
print (str(datetime.datetime.now()))

df = client.download(project, dataset, table)

print (str(datetime.datetime.now()))

2019-10-03 15:23:06.811360

HBox(children=(IntProgress(value=0, description='Downloading', max=903183, style=ProgressStyle(description_wid…

2019-10-03 15:26:14.234169

In [6]:
from sys import getsizeof
getsizeof(df)

425733667

In [7]:
df.head()

,category,region_type,region_id,month,total_merchants,ticket_size_score,growth_score,stability_score,transactions_score,sales_score,...,growth_metro_score,stability_metro_score,transactions_metro_score,sales_metro_score,ticket_size_state_score,growth_state_score,stability_state_score,transactions_state_score,sales_state_score,geoid
0,apparel,block,360610113001005,03/01/2019,14,974.0,817.0,2.0,110.0,656.0,...,757.0,9.0,170.0,587.0,948.0,779.0,9.0,131.0,583.0,360610113001005
1,apparel,block,060372079001007,03/01/2019,11,933.0,19.0,2.0,79.0,253.0,...,31.0,7.0,360.0,391.0,825.0,23.0,3.0,241.0,364.0,060372079001007
2,eating places,block,120310168011019,03/01/2019,7,800.0,939.0,2.0,184.0,357.0,...,912.0,23.0,256.0,500.0,774.0,938.0,4.0,140.0,287.0,120310168011019
3,eating places,block,120710011022006,03/01/2019,13,90.0,800.0,2.0,597.0,320.0,...,825.0,25.0,750.0,250.0,77.0,800.0,4.0,575.0,254.0,120710011022006
4,eating places,block,120860089041000,03/01/2019,24,5.0,1000.0,2.0,899.0,504.0,...,998.0,5.0,941.0,483.0,5.0,1000.0,4.0,910.0,471.0,120860089041000