In [1]:
import pandas as pd
from cartoframes.auth import set_default_credentials, Credentials
from cartoframes.data.observatory import Catalog, Enrichment

## Search metadata

In [ ]:
catalog = Catalog()
countries = catalog.countries
countries

In [3]:
usa = countries.get('usa')

In [ ]:
datasets = usa.datasets
datasets

In [5]:
dataset = datasets.get('od_acs_d28e63ff')

In [ ]:
variables = dataset.variables
variables

In [7]:
variables_filtered = [
    variables.get('income_less_100_78507952'),
    variables.get('income_10000_14_87114cc0'),
    variables.get('income_15000_19_93525f59'),
    variables.get('income_20000_24_59535011')
]
agg_operators = 'sum'


# Or you may want to use different for each field:
#
# agg_operators = {
#     'income_less_100_78507952': 'sum',
#     'income_10000_14_87114cc0': 'sum'
#     # ... etc
# }

# Further agg docs:
# https://cloud.google.com/bigquery/docs/reference/standard-sql/aggregate_functions

## Enrichment

In [8]:
credentials = Credentials.from_file()
set_default_credentials(credentials)

In [9]:
data = pd.read_csv('./data/polygons.csv')

In [10]:
data.head()

,namelsad,statefp,countyfp,tractce,geoid,name,cartodb_id,mtfcc,funcstat,aland,awater,intptlat,intptlon,geom
0,Census Tract 1038,51,13,103800,51013103800,1038.0,1,G5020,S,926693,2489,38.846407,-77.072039,"POLYGON ((-77.082245 38.843433, -77.082031 38...."
1,Census Tract 1004,51,13,100400,51013100400,1004.0,2,G5020,S,3815543,0,38.911577,-77.106083,"POLYGON ((-77.122654 38.925328, -77.122545 38...."
2,Census Tract 1006,51,13,100600,51013100600,1006.0,3,G5020,S,1012327,0,38.893596,-77.108631,"POLYGON ((-77.115317 38.897582, -77.1150970000..."
3,Census Tract 1008,51,13,100800,51013100800,1008.0,4,G5020,S,438613,0,38.894648,-77.128127,"POLYGON ((-77.13364199999999 38.896322, -77.13..."
4,Census Tract 1010,51,13,101000,51013101000,1010.0,5,G5020,S,1073466,0,38.888216,-77.141166,"POLYGON ((-77.14642600000001 38.883708, -77.14..."

In [11]:
data_augmentated = Enrichment().enrich_polygons(
    data, variables_filtered, agg_operators=agg_operators, data_geom_column='geom'
)

In [12]:
data_augmentated.head()

,namelsad,statefp,countyfp,tractce,geoid,name,cartodb_id,mtfcc,funcstat,aland,awater,intptlat,intptlon,geom,income_less_10000,income_10000_14999,income_15000_19999,income_20000_24999
0,Census Tract 1038,51,13,103800,51013103800,1038.0,1,G5020,S,926693,2489,38.846407,-77.072039,"POLYGON ((-77.082245 38.843433, -77.082031 38....",1563.438267,1010.268429,709.069260,926.246577
1,Census Tract 1004,51,13,100400,51013100400,1004.0,2,G5020,S,3815543,0,38.911577,-77.106083,"POLYGON ((-77.122654 38.925328, -77.122545 38....",1537.811754,985.001115,709.002309,910.001503
2,Census Tract 1006,51,13,100600,51013100600,1006.0,3,G5020,S,1012327,0,38.893596,-77.108631,"POLYGON ((-77.115317 38.897582, -77.1150970000...",1562.214237,1000.518911,715.819362,913.531827
3,Census Tract 1008,51,13,100800,51013100800,1008.0,4,G5020,S,438613,0,38.894648,-77.128127,"POLYGON ((-77.13364199999999 38.896322, -77.13...",1540.065891,997.981118,730.190718,915.062241
4,Census Tract 1010,51,13,101000,51013101000,1010.0,5,G5020,S,1073466,0,38.888216,-77.141166,"POLYGON ((-77.14642600000001 38.883708, -77.14...",1541.926472,995.996493,713.115128,910.020120