In [1]:
from cartoframes.auth import Credentials
from cartoframes.client import SQLClient

In [2]:
creds = Credentials(username='cartovl', api_key='default_public')

sql_client = SQLClient(creds)

### Query

In [3]:
sql_client.query('SELECT DISTINCT adm_0_cap_name FROM populated_places')

[{'adm_0_cap_name': 'City'}, {'adm_0_cap_name': 'Capital'}]

In [4]:
sql_client.query('SELECT COUNT(*) FROM populated_places')

[{'count': 7322}]

In [5]:
sql_client.query('SELECT COUNT(*) FROM populated_places', verbose=True)

{'rows': [{'count': 7322}],
 'time': 0.006,
 'fields': {'count': {'type': 'number', 'pgtype': 'int8'}},
 'total_rows': 1}

### Execute

In [6]:
sql_client.execute('SELECT * FROM populated_places')

Error: Access denied

### Helpers

In [7]:
sql_client.distinct('populated_places', 'adm_0_cap_name')

[('City', 7122), ('Capital', 200)]

In [8]:
sql_client.count('populated_places')

7322

In [9]:
sql_client.bounds('SELECT * FROM populated_places WHERE adm0name = \'Spain\'')

[[-16.2500006525, 28.0999760122], [2.65424597028, 43.530016092]]

In [15]:
sql_client.schema('populated_places', raw=True)

{'cartodb_id': 'number',
 'the_geom': 'geometry',
 'the_geom_webmercator': 'geometry',
 'adm0name': 'string',
 'adm1name': 'string',
 'scalerank': 'number',
 'natscale': 'number',
 'labelrank': 'number',
 'featurecla': 'string',
 'name': 'string',
 'namepar': 'string',
 'namealt': 'string',
 'diffascii': 'number',
 'nameascii': 'string',
 'adm0cap': 'number',
 'capalt': 'number',
 'capin': 'string',
 'worldcity': 'number',
 'megacity': 'number',
 'sov0name': 'string',
 'sov_a3': 'string',
 'adm0_a3': 'string',
 'iso_a2': 'string',
 'note': 'string',
 'latitude': 'number',
 'longitude': 'number',
 'changed': 'number',
 'namediff': 'number',
 'diffnote': 'string',
 'pop_max': 'number',
 'pop_min': 'number',
 'pop_other': 'number',
 'rank_max': 'number',
 'rank_min': 'number',
 'geonameid': 'number',
 'meganame': 'string',
 'ls_name': 'string',
 'ls_match': 'number',
 'checkme': 'number',
 'created_at': 'date',
 'updated_at': 'date',
 'adm_0_cap': 'string',
 'adm_0_cap_name': 'string'}

In [11]:
sql_client.describe('populated_places', 'adm0name')

count               7322
type: string

In [12]:
sql_client.describe('populated_places', 'pop_max')

count               7322
avg            322717.48
min                  -99
max             35676000
type: number

In [13]:
sql_client.create_table('test', [('id', 'INT'), ('name', 'TEXT')]) # cartodbfy=False
sql_client.insert_table('test', ['id', 'name'], [0, 'a'])
sql_client.update_table('test', 'name', 'b', 'id = 0')
sql_client.drop_table('test')

Error: Access denied
Error: Access denied
Error: Access denied
Error: Access denied